html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

body {
    background-color: white;
}

header {
    text-align: left;
    display: flex;
}

nav {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
    
}

nav ul li a {
    text-decoration: none;
    color:black;
    font-weight: 600;
    padding: 8px 0;
    transition: all;
    transition-duration: 200ms;
}

nav ul li a:hover{
    color: #EA5B1E;
    border-bottom: 1px solid #EA5B1E;
}

.container{
    width: 90vw;
    margin: 0 auto;
    display: flex;
    margin: auto;
    align-content: center;
}

.search-box{
    width: 30%;
    padding: 10px;
}

.type-search{
    padding: 15px;
    border: none;
    width: 100%;
    border-radius: 20px;
    background-color: #d9d9d9;
}

h1{
    color: #EA5B1E;
}