@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 3px;
  padding: 1px;
  font-family: "Nunito", sans-serif;
}

.top-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  position: sticky;
}

h1 {
  font-size: 5vw;
  font-weight: 700;
  color: #ea5b1e;
}

.search-bar {
  display: flex;
  width: 50%;
  padding: 10px;
}

.type-search {
  font-size: 1.2vw;
  padding: 10px;
  border: none;
  width: 100%;
  outline: none;
  border-radius: 35px;
  background-color: #d9d9d9;
  transition: 0.3s;
}

.type-search:focus {
  border: 1px solid #ea5b1e;
}

.my-order {
  align-items: center;
}

.nav-cart {
  position: relative;
}

.item-count {
  position: absolute;
  top: -13px;
  right: 0px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ea5b1e;
  color: white;
}

.nav-cart i {
  font-size: 25px;
  display: flex;
  justify-content: center;
}

.my-order-text {
  font-size: 2vw;
  font-weight: 500;
  text-align: center;
}

nav.category {
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px 15px;
  position: sticky;
}

.nav-content {
  display: flex;
  overflow-x: auto;
  gap: 2rem;
  padding: 0;
}

nav ul {
  transition: all 0.4s ease;
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-weight: 500;
  padding: 8px 15px;
  white-space: nowrap;
  transition: all 200ms;
}

nav ul li a:hover {
  color: #ea5b1e;
  border-bottom: 1px solid #ea5b1e;
}

nav ul li a.active {
  color: #ea5b1e;
  border-bottom: 1px solid #ea5b1e;
}

.menu-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
}

.menu-items {
  font-size: 18px;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: auto;
}

.menu-items img{
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  box-shadow: #85838a 5px 5px 10px;
}

.price {
  font-weight: 900;
  font-size: 14px;
  color: #ea5b1e;
}